# See https://docs.docker.com/engine/reference/builder/#dockerignore-file for more about ignoring files.

# compiled output

#/dist
/tmp
/out-tsc

# dependencies

/node_modules

# IDEs and editors

/.idea
.project
.classpath
.c9/
_.launch
.settings/
_.sublime-workspace

# IDE - VSCode

.vscode/\*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc

/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
.editorconfig
.git
.gitignore
.gitlab-ci.yml
.prettierignore
.github
.storybook

# System Files

.DS_Store
Thumbs.db

# Environment files

.env\*.local

.env*
.flaskenv*
!.env.project
!.env.vault